@import '../../styles/index.scss';

.container {
  .input {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    flex: 1;
    @include component-regular-16px;
    color: theme-var(--text-100);

    &::placeholder {
      color: theme-var(--text-40);
    }

    &.disabled {
      &::placeholder {
        color: theme-var(--text-30);
      }
      color: theme-var(--text-30);
    }
  }

  .actions {
    display: flex;
    gap: 4px;
    height: 20px;
    align-self: center;

    .loader {
      width: 20px;
      height: 20px;
    }

    .expandIcon {
      color: theme-var(--text-40);
    }

    .clearIcon {
      cursor: pointer;
      color: theme-var(--grey-50);
    }

    &:hover {
      .clearIcon {
        color: theme-var(--grey-70);
      }
    }
  }

  .multiple {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    flex-grow: 1;

    .chipPlaceholder {
      display: flex;
      gap: 4px;

      .multiplePlaceholder {
        color: theme-var(--text-60);
      }
    }
  }
}

.popper {
  overflow-y: scroll;
  max-height: 448px;
  padding: 12px;
  @include scrollbar-small;

  .emptyListItem {
    @include text-regular-12px;
    color: theme-var(--text-40);
    text-align: center;
  }
}
